<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'create' %}">
        <h4>제목</h4>
        <input type="text"name="title" style="border-color:purple;" >
        <h4>본문</h4>
        <textarea rows="20" cols="30" name="body" style="border-color:purple;"></textarea>
        <br>
        <input type="submit" style="background-color:rgba(128, 0, 128, 0.788); " value="작성!">
    </form>
</body>
</html>